<html lang="en">
<head>
	{% block head %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block styles %}
			<!-- Bootstrap CSS -->
				{{ bootstrap.load_css() }}
		  <style type="text/css">
			.shadow-textarea textarea.form-control::placeholder {
				font-weight: 300;
			}
			.shadow-textarea textarea.form-control {
				padding-left: 0.8rem;
			}
			.nav>li>a {
				background-color: #aaa;
				color: #777;
			}
			.nav .nav-link.active {
				color: black;
				background-color: #eee;
			}
          </style>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		{% endblock %}
	{% endblock %}
<title>{{ title}}</title>
</head>
<body>
{% block content %}
<a class="btn btn-secondary" href="https://github.com/luizanisio/PesquisaTextualBR" title="Documentação sobre o componente de pesquisa textual"><i class="far fa-lightbulb"></i> PesquisaBR</i></a>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{ ativo_criterios }}" href="{{ url_for('testar_criterios') }}"><b>Teste de aplicação de critérios de pesquisa</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ ativo_regras }}" href="{{ url_for('testar_regras') }}"><b>Teste de aplicação de regras</b></a>
  </li>
</ul>


{% endblock content %}