{% extends "base.html" %}

{% block content %}
{{ super() }}
	<!-- Form -->
	<div class="card">
    	<div class="card-header">Avaliação de critério de pesquisa</div>
		<div class="card-body">
            <b>POST:</b> /analisar_criterio
            <div class="card bg-light"><code>
                {"texto": "esse é um texto legal", "criterio": " texto PROX10 legal", "detalhar": "1"}
            </code></div>
            <b>Retorno</b>
            <div class="card bg-light"><code>
                { "criterios": "texto PROX10 legal", "criterios_aon": "texto AND legal", "retorno": true, "texto": "esse e um texto legal" }
            </code></div>
        </div>

        <div class="card-header">Avaliação de regras</div>
		<div class="card-body">
            <b>POST:</b> /analisar_regras
            <div class="card bg-light"><code>
                {"texto": "esse  texto tem umas receitas de pão e de bolos legais 123 456 um dois três com o oficio número 5.174", 
                 "detalhar":0}
            </code></div>
            <b>Retorno</b>
            <div class="card bg-light"><code>
                { "rotulos": ["oficio","Receita de Bolo","Receita de Pão"],
                  "extracoes": [["oficio numero 5174"],[],["receita de pao"]] }
            </code></div>
        </div>

        <div class="card-header">Avaliação de regras com filtros de tags</div>
		<div class="card-body">
            <b>POST:</b> /analisar_regras
            <div class="card bg-light"><code>
                {"texto": "esse ofício 12 texto tem umas receitas de pão e de bolos legais 123 456 um dois são vários testes três com o oficio número 5.174", 
                 "detalhar":0, 
                 "tags":"oficio"}
            </code></div>
            <b>Retorno</b>
            <div class="card bg-light"><code>
                { "rotulos": [ "oficio" ], 
                  "extracoes": [ [ "12", "numero 5174" ] ] }
            </code></div>
        </div>

        <div class="card-header">Regras do exemplo (arquivo regras.json)</div>
		<div class="card-body">
            <i>* as chaves tags, qtd_cabecalho, qtd_rodape e extracao são opcionais</i>
            <ul>
            <li><b>regra</b>: é a regra usando os operadores de pesquisa textual, ou um regex. No caso de regex, a regra deve começar com r: regex desejado</li>
            <li><b>rotulo</b>: é o rótulo do grupo que será retornado se a regra retornar true</li>
            <li><b>qtd_cabecalho</b>: a regra é aplicada no início do texto até o caracter da posição informada</li>
            <li><b>qtd_rodape</b>: a regra é aplicada no final do texto, do caracter da posição informada até o fim</li>
            <li><b>qtd_cabecalho</b> e *qtd_rodape</b>: a regra é aplicada removento o miolo do texto de qtd_cabecalho até qtd_rodape</li>
            <li><b>extracao</b>: é um regex usado para extrair informações do texto se a regra retornar true</li>
            </ul>
            <div class="card bg-light"><pre><code>{"regras": [
                {"grupo" : "receitas_bolo", "rotulo": "Receita de Bolo", "regra": "receita ADJ10 bolo", "tags": "receita bolo", "qtd_cabecalho":0, "qtd_rodape":0},
                {"grupo" : "receitas_bolo", "rotulo": "Receita de Bolo", "regra": "aprenda ADJ5 fazer ADJ10 bolo", "tags": "receita bolo", "qtd_cabecalho":0, "qtd_rodape":0},
                {"grupo" : "receitas_pao", "rotulo": "Receita de Pão", "regra": "receita PROX15 pao", "extracao": "(receita.*pao)|(pao.*receita)", "tags": "receita pao", "qtd_cabecalho":0, "qtd_rodape":0},
                {"grupo" : "grupo_teste", "rotulo": "teste", "regra": "teste", "extracao": "(\\d+)(\\Wum\\W|\\Wdois\\W|\\Wtres\\W)", "tags": "teste", "qtd_cabecalho":0, "qtd_rodape":0},
                {"grupo" : "grupo_regex", "rotulo": "teste regex", "regra": "r:teste|testar?", "extracao": "", "tags": "teste", "qtd_cabecalho":0, "qtd_rodape":0},
                {"grupo" : "grupo_oficio", "rotulo": "oficio", "regra": "r:oficio (n.{1,10})?\\d+", "extracao": "(?<=oficio\\W)(?:n|numero|num|nro)?(?:\\s*\\d+)(?=$|\\W)" , "tags": "teste oficio", "qtd_cabecalho":20, "qtd_rodape":20}
             ]}
            </code></pre></div>
        </div>

	</div>
{% endblock content %}
