<html lang="en">
<head>
	{% block head %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block styles %}
			<!-- Bootstrap CSS -->
				{{ bootstrap.load_css() }}
		  <style type="text/css">
			.shadow-textarea textarea.form-control::placeholder {
				font-weight: 300;
			}
			.shadow-textarea textarea.form-control {
				padding-left: 0.8rem;
			}
			.nav>li>a {
				background-color: rgb(255, 255, 255);
				color: rgb(1, 0, 56);
			}
			.nav .nav-link.active {
				color: rgb(14, 0, 211);
				background-color: #eee;
			}
          </style>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		{% endblock %}
	{% endblock %}
<title>{{ title}}</title>
</head>
<body>
{% block content %}
<div class="container">
	<small><a class="btn btn-outline-info btn-sm" href="https://github.com/luizanisio/PesquisaTextualBR#pesquisa-textual-em-documentos" title="Documentação sobre o componente de pesquisa textual" target="_blanck"><i class="far fa-lightbulb"></i> PesquisaTextualBR</i></a></small>

	<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link {{ ativo_criterios }}" href="{{ url_for('testar_criterios') }}"><b>Teste de aplicação de critérios de pesquisa</b></a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{ ativo_regras }}" href="{{ url_for('testar_regras') }}"><b>Teste de aplicação de regras</b></a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{ ativo_exemplos }}" href="{{ url_for('exemplos') }}"><b>Usando o serviço</b></a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{ ativo_erros }}" href="{{ url_for('regras_com_erro') }}"><b>Regras com erro</b></a>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exemplos</a>
		<div class="dropdown-menu">
			{% for e in exemplos_criterios %}		
			<a class="dropdown-item" href="{{ url_for('testar_criterios', exemplo=e.get('n')) }}">{{ e.get('rotulo','Sem texto') }}</a>
			{% endfor %}		
			{% for e in exemplos_regras %}		
			<a class="dropdown-item" href="{{ url_for('testar_regras', exemplo=e.get('n')) }}">{{ e.get('rotulo','Sem texto') }}</a>
			{% endfor %}		
		</div>
	</li>

	</ul>

</div>

{% endblock content %}

{% block scripts %}
    <!-- Bootstrap JS -->
	{{ bootstrap.load_js() }}
{% endblock %}
