			<!-- Modal -->
            <div class="modal fade" id="enviopdfmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Arquivo PDF/TXT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <input type = "file" name = "pdf" /><input type = "submit"/>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- Modal -->
        <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#enviopdfmodal"><small><i class="fas fa-file-alt"></i> Arquivo</small></button>